In [18]:
import pandas as pd
 
# Creating the first Dataframe using dictionary
df1 = df = pd.DataFrame({"a": [1, 2, 3, 4],
                         "b": [5, 6, 7, 8]})
 
# Append Dict as row to DataFrame
new_row = {"a": 10, "b": 10}
df2 = pd.concat([df1, pd.DataFrame([new_row])], ignore_index=True)

df2.loc[len(df2)] = new_row
 
print(df2)

    a   b
0   1   5
1   2   6
2   3   7
3   4   8
4  10  10
5  10  10

In [23]:
import numpy as np
import pandas as pd
from sim_iot import START_TIME_HACKING
from datetime import datetime
df1 = pd.read_csv("../data/SmartHome_DDoSSnapshot/FIREWALL_PROCESSES.csv")
new_row = {"IP": '192.168.1.10', "NAME": 'IotDevice', 'DATE': datetime.now(), 'BLOCKED':1}
df1=pd.concat([df1, pd.DataFrame([new_row])], ignore_index=True) 
df1.head()

,IP,NAME,DATE,BLOCKED,LIMITED_BANDWIDTH,IP,NAME,DATE,BLOCKED
0,123.45.23.12,WebHelperForShopping,Sun Jan 7 20:14:32 2024,1.0,2000.0,NaN,NaN,NaT,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,NaN,NaN,NaN,NaN,NaN,192.168.1.10,IotDevice,2024-01-16 12:54:43.057325,1.0

In [53]:
import numpy as np
import pandas as pd
from sim_iot import START_TIME_HACKING
df1 = pd.read_csv("../RESOURCES_OCCUPANCY_HACKED_False.csv")
df2 = pd.read_csv("../RESOURCES_OCCUPANCY_HACKED_True.csv")

np.random.seed(42)
#print(df1.head())
df1['dataretrieval_occupancy'] = df1['dataretrieval_occupancy'].apply(lambda x: min(0.56, max(max(0.2, np.random.normal()/3), x / (np.random.random() * 5))))
df1['dataupdater_occupancy'] = df1['dataupdater_occupancy'].apply(lambda x: min(0.56, max(max(0.2, np.random.normal()/3), x / (np.random.random() * 5))))

df2['dataretrieval_occupancy'] = df2['dataretrieval_occupancy'].apply(lambda x: min(1.0, max(max(0.2, np.random.normal()/3), x / (np.random.random() * 5))))
df2['dataupdater_occupancy'] = df2['dataupdater_occupancy'].apply(lambda x: min(1.0, max(max(0.2, np.random.normal()/3), x / (np.random.random() * 5))))


# loc[df2['time'] > START_TIME_HACKING,
mask = df2['time'] > 0
df2.loc[mask, 'dataupdater_occupancy'] = df2[mask].apply(lambda row: min(1.0, max(0.35, row.dataupdater_occupancy * (np.random.random() * 5))), axis=1)
df2.loc[mask, 'dataretrieval_occupancy'] = df2[mask].apply(lambda row: min(1.0, max(0.35, row.dataupdater_occupancy * (np.random.random() * 5))), axis=1)

#print(indicesToHack)
#df2['dataretrieval_occupancy'] = min(df2[indicesToHack, 'dataretrieval_occupancy'] * np.random.random() * 5, 1.0)
#df2[indicesToHack, 'dataupdater_occupancy'] = min(df2[indicesToHack, 'dataupdater_occupancy'] * np.random.random() * 5, 1.0)
#, 'dataretrieval_occupancy']


df1.to_csv(f'../good_RESOURCES_OCCUPANCY_HACKED_False.csv', header=True, index=False)
df2.to_csv(f'../good_RESOURCES_OCCUPANCY_HACKED_True.csv', header=True, index=False)

In [43]:
np.where(df2['time'] > START_TIME_HACKING)[0]

array([37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53,
       54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70,
       71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86],
      dtype=int64)

In [36]:
import pandas as pd
from enum import IntEnum
from datetime import datetime

In [30]:
class RequestType(IntEnum):
    REQ_PUT = 1,
    REQ_GET = 2,
    REQ_DELETE = 3,
    REQ_UPDATE=4
    
DATABASE_LOGS_columns = ["ip", "long", "lat", "request_type", "request_params"]
DATABASE_LOGS_dtypes = [str, str, str, RequestType, str]

d = pd.DataFrame({"timestamp":pd.Series(dtype=int),
                  "ip":pd.Series(dtype='str'),
                  "long":pd.Series(dtype='str'),
                  "lat":pd.Series(dtype='str'),
                  "request_type":pd.Series(dtype=int),
                  "request_params":str})

In [31]:
#d = d.append({"ip": "192.168.3.11", "long":"A", "lat":"A", "request_type":RequestType.REQ_PUT, "request_params":"dsadsadsadsadsad"}, ignore_index=True)

d.loc[len(d)]={"timestamp": datetime.now(), "ip": "192.168.3.11", "long":"A", "lat":"A", "request_type":RequestType.REQ_PUT, "request_params":"dsadsadsadsadsad"}


d.head()

,timestamp,ip,long,lat,request_type,request_params
0,2024-01-07 14:00:59.899582,192.168.3.11,A,A,1,dsadsadsadsadsad